// Place all the styles related to the illusts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Usrwrp {
  margin: 0 300px;
}

.UserPwrap {
  background-color:rgb(50, 50, 50);
  padding: 20px 0;
  margin-bottom: 30px;
}

.userNaFW {
  margin: auto 0 3px 0;
}
.FlexUserNaFW {
  width:350px; 
  margin-left:25px; 
  flex-wrap:wrap;
}

.username {
  margin: auto 0;
  padding: 0 20px;
}

.FolWrap {
  margin-top:10px;
  width :230px;
  display: flex;
}
.follow {
  width: 100%;
}
.follower {
  width: 100%;
}
.follow_form {
  margin:auto 0;
}






.USERWRAPPER {
  display: flex!important;
}

#delete_illust {
  margin-left: 20px;
}

.edit-delete_wrapper {
  margin-bottom: 20px;
}

.AVATARUSERC {
  color: #fff;
}

.AVATARUSERCUR {
  color: #333;
}
.AVATARUSERCUr {
  color: #dbdbdb;
  &:hover {
    color: #bebebe;
  }
}

#IMAGEAVTS {
  object-fit:cover;
  width: 70px;
  height: 70px;
}
// .current_user {
//   padding: 10px;
// }
#CARD {
  margin: 20px auto 0;
  width: 800px;
}

.Edit_profile {
  
  margin-left: 20px;
  color: #fff;
  background-color: rgb(35, 93, 210);
  padding: 10px 15px;
  border-radius: 30px;
  text-align: center;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  &:hover {
    color: rgb(233, 233, 233);
    opacity: .8;
  }
}

// illust#new,edit
.Illust_New_wrapper {
  margin: 0 auto;
  width: 763px;
}
.input {
  width: 763px;
  height: 30px;
}
.textarea {
  width: 763px;
  height: 142px;
}
.field {
  margin:20px 0;
}
// illust#new,edit

.aside_wrap_main {
  display: none;
}
.ul_Wrap {
  padding: 0 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex!important;
}
.li_ImageW {
  list-style: none;
  margin-left: 10px;
}
.div_flex {
  display: flex;
}
.main_wrapper {
  // width: 800px;
  margin: 0 auto;
}
aside {
  background-color: rgb(50, 50, 50);
  width: 450px;
  padding: 20px 20px 10px 20px;
  flex: 0 0 auto;
}
.img_illust {
  width: 750px;
  height: auto;
  flex: 0 0 auto;
}
.illust_index  {
  margin-top: 20px;
  color: #dbdbdb;
}
.Illust_index, .username, .UserProfile, .EditProfile {
  color: #dbdbdb;
}
.EditProfile:hover {
  color: #b2b2b2;
}
.IMGIllust {
  border-radius:8px;
  object-fit:cover;
  transition: 0.5s;
  &:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
  }
}
/*ここから下がハンバーガーメニューのスタイル*/
.gnavi__sp-style {
  display: none;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #333;
}

@media screen and (max-width: 1024px) {

  .Illust_New_wrapper {
    margin: 0 auto;
    width: 763px;
  }
  .input {
    width: 763px;
    height: 30px;
  }
  .textarea {
    width: 763px;
    height: 142px;
  }
  .field {
    margin:20px 0;
  }

  .Edit_profile {
    color: #fff;
    background-color: rgb(35, 93, 210);
    padding: 10px 15px;
    border-radius: 30px;
    text-align: center;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    &:hover {
      color: rgb(233, 233, 233);
      opacity: .8;
    }
  }
  // .current_user {
  //   padding: 10px;
  // }
  .main_wrapper {
    margin: 0;
   }
  aside {
    display:none;
  }
  .img_illust {
    width: 1100px;
    max-width: 100%;
    height: auto;
  }
  .aside_wrap_main {
    display: block;
  }
  .Illust_index {
    color: #dbdbdb;
  }
  .gnavi__pc-style {
    display: none;
  }
  .gnavi__sp-style {
    display: block;
  }
  /*メニューボタン 展開前*/
  .menu-btn {
    display : block;
    position: fixed;
    z-index : 3;
    right : 30px;
    top   : 12px;
    width : 42px;
    height: 42px;
    position: absolute;
    cursor: pointer;
    text-align: center;
  }
  .menu-btn span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .menu-btn span:nth-of-type(1) {
    top: 10px;
  }
  .menu-btn span:nth-of-type(2) {
    top: 20px;
  }
  .menu-btn span:nth-of-type(3) {
    top: 30px;
  }
    
  /*メニューボタン 展開後*/
  .menu-btn.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  .menu-btn.active span:nth-child(2),
  .menu-btn.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  /*スマホ用のメニュー*/
  .gnavi__sp-style {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  .gnavi__sp-style ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .gnavi__sp-style ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  .gnavi__sp-style ul li:last-of-type {
    padding-bottom: 0;
  }
  .gnavi__sp-style ul li:hover{
    background :#ddd;
  }
  .gnavi__sp-style ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  .gnavi__sp-style.active {
    opacity: 100;
    visibility: visible;
  }
}







@media screen and (max-width: 599px) {
  .Usrwrp {
    margin: 0 30px;
  }
  .avatarUser {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
  }
  .EditProfile {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(35, 93, 210);
    padding: 7px 12px;
    border-radius: 30px;
    text-align: center;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    &:hover {
      color: rgb(233, 233, 233);
      opacity: .8;
    }
  }


  // .USERWRAPPER {
  //   margin-bottom: 30px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 200px;
  // }
  .AVATARUSERCUR {
    color: #333;
    font-size: 13px;
  }

#IMAGEAVTS {
  object-fit:cover;
  width: 50px;
  height: 50px;
}

  #CARD {
    margin: 20px 10px 0;
    width: auto;
  }

  .Illust_New_wrapper {
    margin: 0 auto;
    width: 350px;
  }

  .input {
    width: 350px;
    height: 30px;
  }
  .textarea {
    width: 350px;
    height: 142px;
  }
  .field {
    margin:20px 0;
  }
  .Edit_profile {
    font-size: 15px;
    margin-left: 40px;
    color: #fff;
    background-color: rgb(35, 93, 210);
    padding: 7px 12px;
    border-radius: 30px;
    text-align: center;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    &:hover {
      color: rgb(233, 233, 233);
      opacity: .8;
    }
  }

  // .current_user {
  //   padding: 10px;
  // }
  .main_wrapper {
    margin: 0;
   }
  aside {
    display:none;
  }
  .img_illust {

    max-width: 100%;
    height: auto;
  }
  .aside_wrap_main {
    display: block;
  }
  .Illust_index {
    color: #dbdbdb;
  }
  .IMGIllust {
    width: 150px;
    height: 150px;
    border-radius:8px;
    object-fit:cover;
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
      transition-duration: 0.5s;
    }
  }




  .gnavi__pc-style {
    display: none;    
  }
  .gnavi__sp-style {
    display: block;
  }
  
  /*メニューボタン 展開前*/
  .menu-btn {
    display : block;
    position: fixed;
    z-index : 3;
    right : 30px;
    top   : 10px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .menu-btn span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : rgb(137, 137, 137);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .menu-btn span:nth-of-type(1) {
    top: 10px;
  }
  .menu-btn span:nth-of-type(2) {
    top: 20px;
  }
  .menu-btn span:nth-of-type(3) {
    top: 30px;
  }
    
  /*メニューボタン 展開後*/
  .menu-btn.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  .menu-btn.active span:nth-child(2),
  .menu-btn.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  /*スマホ用のメニュー*/
  .gnavi__sp-style {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  .gnavi__sp-style ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .gnavi__sp-style ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  .gnavi__sp-style ul li:last-of-type {
    padding-bottom: 0;
  }
  .gnavi__sp-style ul li:hover{
    background :#ddd;
  }
  .gnavi__sp-style ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  .gnavi__sp-style.active {
    opacity: 100;
    visibility: visible;
  }
}