<h1>こんにちは！Users#index</h1>
<div  class="div_wrapper">
  <% @users.each do |user| %>

    <%= link_to user_path(user) do %>
      <% if user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
        <%= image_tag user.avatar.url, class: "rounded-circle" %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
      <% end %>
      <%= user.username %>
    <% end %>

  <% end %>
</div>